*{
 margin: 0;  
 padding:0;
} 
/* Login */
.loginbox {
    background-image: url("./images/Login_img.jpg");
    background-size:cover;
    justify-content: center;
    display: flex
}

.input {
    width: 60%;
}

.login-logo {
    height: 100px;
    width: 100px;
}

.account-text {
    color:#61bdef;
    font-family: "Space Grotesk-Bold", Helvetica;
    font-size: 35px;
    font-weight: 700;
    width: 100%;
    margin-top: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
}


/* Singup */
.sign-up-form {
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 400px;
    margin-left: 20%;
    margin-top: 1%;
    padding-bottom: 0%;
    margin-bottom: 0%;

}

.sign-up-form input {
    width: 100%;
}

.formtext {
    color: white  ;
    font-family: "Space Grotesk-Regular", Helvetica;
    font-size: 20px;
    /* font-weight:normal; */
    border: none;
    border-bottom: 1px solid #b4e2ef;
    padding: 5px;
    margin-top: 10%;
    margin-left: -7%;
    background-color: transparent;
}
 ::placeholder{
    color: #9dd8f8;
 }
.submitbtn {
    color: #ffffff;
    font-family: "Space Grotesk-Bold", Helvetica;
    font-size: 20px;
    height: 35px;
    width: 40%;
    background-color:#0d7e9d    !important;
    border-radius: 10px;
    margin-top: 8%;
    border: none;
}

.submitbtn1 {
    color: #ffffff;
    font-family: "Space Grotesk-Bold", Helvetica;
    font-size: 20px;
    height: 35px;
    width: 40%;
    background-color: #0d7e9d !important;
    border-radius: 10px;
    margin-top: 8%;
    border: none;
}

.buttonkabaap {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-right: 15%;
}

/* .already {
    color: #b0b0b0;
    font-family: "Space Grotesk-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    margin-left: 15%;
} */

