#navbar {
  height: 61px !important;
}

#carousel-img {
  height: 690px !important;
}

.carousel-control-next,
.carousel-control-prev {
  filter: invert(60%);
}
.company_partner {
  height: 150px;
  width: 800px;
  margin-top: -250px;
  margin-left: 350px;
  z-index: 1;
  position: relative;
  background-color: white;
  opacity: 0.9;
  border-radius: 10px;
}
.company_partner h1{
  text-align: center;
  margin: 0;
}
.logos {
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}
.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}
.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}
.logos:hover .logos-slide {
  animation-play-state: paused;
}
.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}
.logos-slide img {
  height: 50px;
  margin: 0 40px;
}
