#navbar {
  height: 61px !important;
  z-index: 5;
  width: 100%;
  background-color: rgb(230, 229, 229);
}

#User {
  color: white;
  text-decoration: none;
}

#carousel-img {
  height: 690px !important;
}

.carousel-control-next,
.carousel-control-prev {
  filter: invert(60%);
}

.company_partner {
  height: 250px;
  width: 800px;
  margin-top: -200px;
  margin-left: 350px;
  z-index: 1;
  position: relative;
  background-color: rgb(203, 146, 146);
  opacity: 0.9;
  border-radius: 10px;
}

.company_partner h1 {
  text-align: center;
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  background: rgb(131, 186, 225, 0.736);
  white-space: nowrap;
  position: relative;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logos-slide img {
  height: 50px;
  margin: 0 40px;
}

.about-section {
  display: flex;
  height: 250px;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  justify-content: space-between;
}

#about-card {
  border: none;
  width: 50% !important;
}

.about-card-style {
  background: linear-gradient(#D6AED6, #98D9E1);
  display: flex;
}

.register-steps {
  width: 100%;
  height: 150px;
  display: flex;
}

.steps {
  display: flex;
  margin-left: 10%;
}

.process {
  text-align: center;
  font-style: oblique;
}

.iprocess {
  height: 25%;
}

#no_card_border {
  border: none !important;
}

#register-heading {
  width: 80% !important;
  padding-top: 35px;
}

#Static-card {
  margin-left: 5%;
  border: none !important;
}

#static-sub-card {
  background: linear-gradient(#D6AED6, #98D9E1);
  border: none !important;

}

#card-image {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-left: 40%;
}

#contact {
  background-color: #0abcf9;
  background-image: linear-gradient(50deg, #2857a4 0%, #403066 74%);
  color: white;
  padding-bottom: 40px;
}

#contact h1,
#contact h1 span {
  color: white;
}

#contact-form {
  margin-left: 20%;
}

#contact-container {
  display: flex;
}

#my-details-container {
  width: 35%;
  margin-left: 6%;
}

#my-details-container h3 {
  color: white;
  font-weight: 550;
  font-size: 1.2rem;
}

#contact-form-container {
  width: 50%;
}

#my-details-container p {
  color: #d9dcdd;
  font-size: 0.9rem;
}

.my-details-info-container {
  margin-bottom: 20px;
  color: #d9dcdd;
  font-size: 1rem;
}

.my-details-info-container span {
  margin-left: 0.4rem;
}

.my-details-info-container i {
  color: white;
}

.my-details-icon {
  width: 1rem;
  height: 1rem;
  vertical-align: bottom;
  margin-right: 0.5rem;
}


#contact-form input,
textarea {
  max-width: 90%;
  margin: 15px;
  padding: 4px 10px;
  border: 0px solid transparent;
  border-bottom: 2px solid white;
  color: #d9dcdd;
  background: transparent;
  width: 90%;
  line-height: 1.6;
  font-size: 1.05rem;
}

#contact-form button[type="submit"] {
  background: transparent;
  font-size: 0.95rem;
  border: 2px solid white;
  margin-top: 5%;
  margin-left: 35%;
  border-radius: 2px;
  color: white;
  font-family: sans-serif;
  font-weight: 700;
  letter-spacing: 0.046875em;
  line-height: 1;
  padding: 0.8em 0.8em 0.78em;
  text-transform: uppercase;
}

#contact-form button:hover {
  background: white;
  color: #13386fe0;
}

#contact .social-icons li a i {
  font-size: 1.2rem;
  margin: 40px 10px 10px;
  padding: 10px 14px 20px 10px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}



/* Common Margin Classes */

.mb75px {
  margin-bottom: 75px;
}

.mb50px {
  margin-bottom: 50px;
}

.horizontal-list {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}

.horizontal-list li {
  display: inline-block;
  margin: 0px 8px 8px 0px;
  font-weight: 100;
  font-size: 0.9rem;
}

.horizontal-list li a {
  color: white;
  text-decoration: none;
}

.nav-menu li a {
  transition: color 0.5s, border-bottom 4s;
}

.nav-menu li a:hover {
  color: lightgrey;
  border-bottom: 1px solid black;
}

.text-center {
  text-align: center;
}



/* Name and Social Icons*/

#name-social-container {
  margin-top: 20vh;
}

#my-name {
  font-size: 3rem;
  letter-spacing: 0.1rem;
  color: white;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.social-icons li a i {
  padding: 10px;
  font-size: 1rem;
  border-radius: 50%;
}

.social-icons li a i:hover {
  box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}

#contact-icon {
  margin-top: 50px;
  margin-left: 40%;
}

/* About-page css */

.about-first {
  height: 430px;
  width: 100%;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}

.about-first-content {
  height: 120px;
  width: 450px;
  margin-left: 10%;
}

.about-first-content>h1 {
  font-weight: bold;
  font-size: 40px;
}

.about-first-image {
  height: 430px;
  width: 515px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.about-first-img {
  width: 405px;
  height: 370px;
}

.about-second {
  height: 500px;
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}

.about-second-content {
  width: 500px;
}

.about-second-image {
  height: 430px;
  width: 515px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;

}

.about-second-img {
  height: 400px;
  width: 288px;
}

.about-third {
  height: 430px;
  width: 100%;
  background-color: aliceblue;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}

.about-third-content {
  width: 450px;
}

.about-third-image {
  height: 430px;
  width: 515px;
  background-color: green;
}

.about-team {
  height: 450px;
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}

.about-team-content {
  height: 100px;
  width: 100%;
  text-align: center;
  padding-top: 15px;
}

.about-team-image {
  height: 430px;
  width: 100%;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}

.member-head {
  height: 400px;
  width: 200px;
  display: block;
  justify-content: center;
  align-items: center;

}

.member {
  height: 200px;
  width: 200px;
  background-color: pink;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;

}

#M1 {
  background-image: url(images/conti1.jpg);
  background-size: cover;
}

#M2 {
  background-image: url(images/conti2.jpg);
  background-size: cover;
}

#M3 {
  background-image: url(images/contri3.png);
  background-size: cover;
}

#M4 {
  background-image: url(images/contri4.png);
  background-size: cover;
}

.member-info {
  align-self: flex-end;
  text-align: center;
  margin-top: 5px;
}

.role-info {
  font-family: 'Kalnia', serif;
}

/* Dashboard */
#SideBar {
  height: 100% !important;
  width: 280px !important;
  position: absolute;
}